@model IEnumerable<UltimateStatsWebApp.Models.Stats>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Catches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Throws)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpponentScore)
            </th>
            <th>
                
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            //@if (item.userName == User.Identity?.Name){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Catches)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Throws)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpponentScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @{
                            if (item.userName == User.Identity?.Name)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-userName="@item.userName">Edit</a>

                            }
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (item.userName == User.Identity?.Name)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-userName="@item.userName">Delete</a>
                        }

            </td>
        </tr>
    //}
}
    </tbody>
</table>
